{{#> body}}

<div class="panel">
	<div class="panel_body">
		<div class="row">
			<div class="col-md-8">
				<h2>{{specialty}}</h2>
				<p>{{background}}</p>
			</div>
		</div>
	</div>
</div>

<div class="panel">
	<div class="panel_body">
		<h2>{{practices_title}}</h2>
		<p>{{practices_beskrivelse}}</p>
		<div class="row">
			<div class="col-md-12">
				<div class="practices">
					{{#practices}}
						{{#each this}}
							<a href="/practices/{{page_slug}}" class="practice">
								<div class="practice_image" style="background-image: url('{{practice_entry.image}}')"></div>
								<div class="practice_info">
									<div class="practice_name">{{practice_entry.title}}</div>
								</div>
								<div class="contentbox contentbox--full-width">
									{{practice_entry.description}}
								</div>
							</a>
						{{/each}}
					{{/practices}}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wedge-3x"></div>

<div class="panel screen" style="background-image: url('{{hobby_background}}')">
	<div class="veil"></div>
	<div class="panel_body fullwidth">

		<div class="contentbox">
			<div class="contentbox_content">
				<h1>{{hobby_title}}</h1>
				<h2>{{hobby_subtitle}}</h2>
			</div>
		</div>

	</div>
</div>

<div class="panel color_3 text_center">
	<div class="panel_body">
		<h2>{{cta_tagline}}</h2>
		<div class="wedge"></div>
		<h3>{{cta_text}}</h3>
		<div class="wedge-3x"></div>
		<a class="btn" href="mailto:ayouga@gmail.com">Contact me</a>
	</div>
</div>

{{/body}}